@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Saugat Thapa</h1>
<br>
<img src="https://i.imgur.com/oSoet9c.png" alt="Avatar">
<br>
<br>

<h4>Email: saugat.thapa-2@selu.edu</h4>
<h4>Alternate email: saugat.thapa97@gmail.com</h4>
<h4>Phone number: 3202664127</h4>
<h4>LinkedIn: <a href="https://www.linkedin.com/in/saugatthapa/">linkedin.com/in/saugatthapa/</a></h4>
<h4>Guthub: <a href="https://github.com/saugat97">github.com/saugat97</a></h4>
<h4>Resume: <a href="https://drive.google.com/file/d/1TROf6_puTpQ5p-NCUz44Q6QG09Qzbiaf/view?usp=sharing">Click here to view my resume</a></h4>
<br>
<br>

